
@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

@section ViewCSS
{
    <link rel="stylesheet" href="~/Content/Import.css" />
}

@section BodyJavascript
{
    <script type="text/javascript" src="~/Scripts/App/import.js"></script>
}

<div class="table-div">
    <table>
        <thead>
            <tr>
                <th>Bank Account</th>
                <th>Upload</th>
            </tr>
        </thead>
        <tbody>
            <tr data-id="@@BankAccountId@@" data-ng-repeat="">
                <td>{{@@BankAccountName@@}}</td>
                <td class="file-display">
                    <button type="button" class="file-button">...</button>
                    <input type="file" />
                    <div>Select a File</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>