@model IEnumerable<BudgetTools.Models.DomainModels.PeriodBalance>
@{

  var row = (from m in Model
            group m by m.BankAccount.BankAccountName into g
            select new
            {
              BankAccountName = g.Key,
              PreviousBalance = g.Sum(item => item.PreviousBalance),
              Balance = g.Sum(item => item.Balance),
              ProjectedBalance = g.Sum(item => item.ProjectedBalance)
            }).FirstOrDefault();
}

<tr id="tr_@row.BankAccountName" class="balance-summary-row">
  <td id="tr_name_@row.BankAccountName" class="balance-left tcol1">@Html.DisplayFor(model => row.BankAccountName)</td>
  <td id="tr_previousbalance_@row.BankAccountName" class="balance-right tcol2">@Html.FormatValue(row.PreviousBalance, "{0:C}")</td>
  <td id="tr_balance_@row.BankAccountName" class="balance-right tcol2">@Html.FormatValue(row.Balance, "{0:C}")</td>
  <td id="tr_projectedbalance_@row.BankAccountName" class="balance-right tcol2">@Html.FormatValue(row.ProjectedBalance, "{0:C}")</td>
  <td class="budget-right tcol3"></td>
</tr>
@{Html.RenderPartial("_Balance", Model);}
