@model IEnumerable<BudgetTools.Models.DomainModels.PeriodBalance>
@{

  var rows = (from m in Model
             group m by m.BudgetLine.DisplayName into g
             orderby g.Key
             select new
             {
               BudgetLineName = g.Key,
               PreviousBalance = g.Sum(item => item.PreviousBalance),
               Balance = g.Sum(item => item.Balance),
               ProjectedBalance = g.Sum(item => item.ProjectedBalance)
             });
}

@foreach (var row in rows)
{
  <tr id="tr_@row.BudgetLineName" class="balance-row">
    <td id="td_name_@row.BudgetLineName" class="balance-left tcol1">@Html.DisplayFor(model => row.BudgetLineName)</td>
    <td id="td_previousbalance_@row.BudgetLineName" class="balance-right tcol2">@Html.FormatValue(row.PreviousBalance, "{0:C}")</td>
    <td id="td_balance_@row.BudgetLineName" class="balance-right tcol2">@Html.FormatValue(row.Balance, "{0:C}")</td>
    <td id="td_projectedbalance_@row.BudgetLineName" class="balance-right tcol2">@Html.FormatValue(row.ProjectedBalance, "{0:C}")</td>
    <td class="budget-right tcol3"></td>
  </tr>
}