@using (Html.BeginForm("Upload", "Transaction", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  <h2>Import Transactions</h2>
    <div class="transaction-edit-group">
    <div>Bank Account</div>
    <div>@Html.DropDownList("BankAccount", (IEnumerable<SelectListItem>)ViewData["BankAccount"], new { @class = "transaction-edit-element" })</div>
  </div>
  <div>
    <div>Select a file to upload</div>
    <input id="file" type="file" name="file" />
    <input id="upload" type="submit" name="upload" value="Upload" />
  </div>
}

