
.content-section-div {
    height: calc(90% - 12px);
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 12px;
    background-color: #A60000;
}

.table-section-div {
    height: 100%;
    overflow: hidden;
    flex: 4 1;
    margin-right: 16px;
}

.editor-section-div {
    flex: 1 1;
    height: calc(100% - 32px);
    overflow: hidden;
    background-color: #dddddd;
    padding: 16px;
    font-weight: normal;
    font-size: 14px;
}

.editor-section-div > select, input {
    display: flex;
    width: 100%;
}

.editor-section-div > textarea {
    display: flex;
    width: 100%;
    resize: vertical;
    padding: 0px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.tableheader-div {
    background: #ddd;
    padding-left: 20px;
    padding-right: 26px;
    display: block;
    overflow: hidden;
    text-wrap: none;
    width: 100%;
    border-bottom: solid 1px #777777;
}

.tableheader-div div {
    padding: 4px 4px 4px 4px;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    float: left;
    display: block;
    width: calc(15% - 8px);
}
/*
.tableheader-div div:nth-of-type(4) {
    width: calc(54% - 8px);
}

.tableheader-div div:nth-of-type(5) {
    width: 20px;
    border-bottom: none;
}
*/
.table-div {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 26px);
    background-color: #dddddd;
    padding-left: 16px;
    clear: both;
}

#transactions {
    overflow: hidden;
    width: 100%;
}

#transactions td {
    padding: 4px 4px;
    min-width: 80px;
    max-width: 120px;
    border-bottom: 1px solid #eeeeee;
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: left;
    margin: 0;
    white-space: nowrap;
    font-size: 12px;
    background-color: #dddddd;
}

#transactions td:nth-child(4) {
    width: 90%;
}

    .transaction-row {
        cursor: default;
    }

.transaction-row-mapped {
    color: #2152aa;
    cursor: default;
}

.transaction-row-focus {
    background-color: #aaaaaa !important;
}



.editor-table {
    margin-top: 22px;
    width: 100%;
}

.editor-table th {
    padding-top: 12px;
    font-weight: bold;
}

.editor-table td:first-of-type, th:first-of-type {
    text-align: left;
    width: calc(100% - 75px);
}

.editor-table td:nth-of-type(2), th:nth-of-type(2) {
    text-align: right;
    width: 75px;
}

.editor-table input {
    width: 100%;
    text-align: right;
}

.editor-table select {
    width: 100%;
}

.label {
    padding-top: 16px;
    font-weight: bold;
    display: block;
}

.editor-button-container {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-top: 8px;
}

.editor-button-container button {
    width: 80px;
    height: 20px;
    text-align: center;
}