.tableheader-div {
    background: #ddd;
    padding-left: 20px;
    display: block;
}

.tableheader-div div {
    padding: 4px 0px;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    float: left;
    display: block;
    border-bottom: solid 1px #777777;
}

.totals-div {
    background: #ddd;
    padding-left: 20px;
    display: block;
}

.totals-div div {
    padding: 4px 0px;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    float: left;
    display: block;
}

.table-div {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 12px);
    background-color: #ddd;
    padding-left: 16px;
    clear: both;
}

#budgetLines td {
    padding: 4px 4px;
    min-width: 80px;
    border-bottom: 1px solid #EEEEEE;
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: right;
    margin: 0;
    white-space: nowrap;
    font-size: 12px;
}

td input {
    text-align: right;
    max-width: 80px;
    font-size: 12px;
}

.rowSummary td {
    background: #A60000;
    color: #EEEEEE;
    font-size: 14px;
}
