.table-div {
    margin-top: 16px;
    background-color: #ddd;
    padding: 16px 16px 16px 16px;
    clear: both;
}

table {
    border: solid 1px #A60000;
}

td {
    padding: 4px 4px 4px 4px;
    min-width: 80px;
    border-bottom: 1px solid #EEEEEE;
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: left;
    margin: 0;
    white-space: nowrap;
    font-size: 12px;
}

th {
    padding: 4px 4px;
    min-width: 80px;
    border-bottom: 1px solid #EEEEEE;
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: left;
    margin: 0;
    white-space: nowrap;
    font-size: 12px;
}

input[type="file"] {
    display: none;
}

.file-button {
    text-align: center;
    margin: 0;
    padding: 2px auto 4px auto;
    vertical-align: middle;
}

.file-display {
}

.file-display div {
    min-width: 200px;
    display: inline-block;
    padding-left: 6px;
}
