
.content-section-div {
    height: calc(90% - 12px);
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 12px;
    background-color: #A60000;
}

.table-section-div {
    height: 100%;
    overflow: hidden;
    flex: 4 1 content;
    margin-right: 16px;
}

.editor-section-div {
    flex: 1 1 content;
    height: calc(100% - 32px);
    overflow: hidden;
    background-color: #dddddd;
    padding: 16px;
    font-weight: normal;
    font-size: 14px;
}

.editor-section-div > select, input {
    display: flex;
    width: 100%;
}

.editor-section-div > textarea {
    display: flex;
    width: 100%;
    resize: vertical;
}

.tableheader-div {
    background: #ddd;
    padding-left: 20px;
    display: block;
}

.tableheader-div div {
    padding: 4px 0px;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    float: left;
    display: block;
    border-bottom: solid 1px #777777;
}

.table-div {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 26px);
    background-color: #dddddd;
    padding-left: 16px;
    clear: both;
}

#transactions {
    overflow: hidden;
}

#transactions td {
    padding: 4px 4px;
    min-width: 80px;
    border-bottom: 1px solid #eeeeee;
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: left;
    margin: 0;
    white-space: nowrap;
    font-size: 12px;
    background-color: #dddddd;
}

.transaction-row {
    cursor: default;
}

.transaction-row-mapped {
    color: #2152aa;
    cursor: default;
}

.transaction-row-focus {
    background-color: #aaaaaa !important;
}



.editor-table {
    margin-top: 22px;
    width: 100%;
}

.editor-table th {
    padding-top: 12px;
    font-weight: bold;
}

.editor-table td:first-of-type, th:first-of-type {
    text-align: left;
    width: calc(100% - 75px);
}

.editor-table td:nth-of-type(2), th:nth-of-type(2) {
    text-align: right;
    width: 75px;
}

.editor-table input {
    width: 100%;
    text-align: right;
}

.editor-table select {
    width: 100%;
}

.label {
    padding-top: 16px;
    font-weight: bold;
    display: block;
}

.editor-button-container {
    display: flex;
    padding-left: 8px;
    padding-top: 8px;
}

.editor-button-container button {

}